* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

.body_fondo {
    background-color: rgb(231, 217, 19);
    background-image: radial-gradient(circle, #fffe00, #ebdc00, #d4bb00, #bb9c02, #a17e06);
}

hr {
    margin: 20px 0;
    background-color: #000000;
    height: 5px;
}


/* ---------- index--------------------*/

.index__fondo {
    width: 100%;
    height: 100vh;
    background-image: url(../Imagenes/Fondo.jpg);
    background-size: cover;
    background-position: center;
}

.index__fondo::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.boton {
    z-index: 0;
}

.index__contenido {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: rgb(213, 213, 213);
}

.index__contenido h1 {
    font-size: 70px;
    margin-top: 80px;
}

.index__contenido p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 30px;
}

button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid rgb(151, 153, 27);
    background: transparent;
    color: rgb(255, 153, 1);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

button a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    z-index: 1;
    background: none;
    opacity: 100%;
}

span {
    background: rgb(168, 164, 67);
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s;
    z-index: -1;
    opacity: 70%;
}

button:hover span {
    width: 100%;
}

button:hover {
    border: none;
}

.TextoAbajo {
    margin-top: 200px;
    font-style: italic;
    font-family: 'Franklin Gothic Medium';
}


/*----------------- navbar-----------------*/

header {
    background-color: rgb(0, 0, 0);
    background-image: linear-gradient(to right bottom, #3d3d3d, #2f2f2f, #212121, #141414, #000000);
    width: 100%;
}

.BANNER {
    display: flex;
    justify-content: space-around;
}

.Logo {
    display: flex;
    margin-left: 10px;
}

.Logo a img {
    width: 120px;
    cursor: pointer;
    margin: 5px 10px;
}

.Logo p {
    color: white;
    display: flex;
    align-items: flex-end;
    font-size: 100px;
    font-style: italic;
    margin-bottom: 6px;
}

.navbar {
    padding: 35px 0;
    display: flex;
    background-color: none;
    justify-content: space-between;
}

.navbar ul {
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 50px 20px;
    position: sticky;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #968c00;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.activo {
    font-weight: bolder;
    color: #960000;
    font-style: italic;
    cursor: default;
}


/* ------------------NOSOTROS-------------------*/

.main-nosotros {
    margin: 10px;
}

.main-nosotros img {
    margin: 20px;
    width: 30%;
}

.titulo-nosotros {
    text-align: center;
    margin-bottom: 10px;
}


/*--------- servicios -----------*/

.body-paralax {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: arial;
    background-color: rgb(231, 217, 19);
    background-image: radial-gradient(circle, #fffe00, #ebdc00, #d4bb00, #bb9c02, #a17e06);
}

.image1 {
    position: relative;
    background: url('../Imagenes/Slider/slider1.jpg') no-repeat fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 500px;
}

.image2 {
    position: relative;
    background: url('../Imagenes/Slider/slider2.jpg') no-repeat fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 500px;
}

.image3 {
    position: relative;
    background: url('../Imagenes/Slider/slider4.jpg') no-repeat fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 500px;
}

.image4 {
    position: relative;
    background: url('../Imagenes/Slider/slider3.jpg') no-repeat fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 500px;
}

.body-paralax h1 {
    color: #fff;
    font-size: 80px;
    text-align: center;
    font-weight: bold;
    margin: 0 auto;
    width: 800px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -20%;
    margin-left: -400px;
    opacity: 0.8;
}

.body-paralax h2 {
    color: rgb(255, 255, 255);
    font-size: 55px;
    text-align: center;
    margin: 0 auto;
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -400px;
    opacity: 0.8;
}

.content {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
    background: none;
    z-index: 2;
}

.body-paralax p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    line-height: 40px;
    margin: 30px 0;
}

.body-paralax a {
    color: #fff;
    text-decoration: none;
    opacity: 0.8;
}


/*--------contacto-------------*/

.contacto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "box-redes box-redes"" box-mapa box-datos";
}

.box-redes {
    grid-area: box-redes;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.box-redes img {
    width: 150px;
    position: relative;
    margin-top: 100px;
    transition: 0.3s;
    background-color: white;
    border-radius: 80px;
}

.box-redes img:hover {
    width: 250px;
    border-radius: 80px;
}

.box-mapa {
    grid-area: box-mapa;
    display: flex;
    justify-self: center;
}

.box-datos {
    display: flex;
    grid-area: box-datos;
    justify-content: start;
    align-self: center;
}

.box-datos p {
    font-size: 50px;
    font-style: italic;
    font-family: cursive;
    line-height: 100px;
}


/*--------FAQ--------*/

.FAQ {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 2;
    grid-template-areas: "texto-faq" "form-faq";
    row-gap: 50px;
}

.texto-faq {
    grid-area: texto-faq;
    font-size: 20px;
    margin: 10px;
}

.texto-faq h2 {
    margin: 5px;
    text-decoration: underline;
    font-style: italic;
}

.texto-faq-der {
    text-align: right;
}

.form-faq {
    grid-area: form-faq;
    display: flex;
    justify-self: center;
}

.caja-pregunta {
    display: flex;
    flex-direction: column;
}

.caja-pregunta select {
    width: 100%;
    height: 30px;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: bolder;
}

.caja-pregunta input {
    width: 100px;
    height: 30px;
    align-self: center;
    border-radius: 10px;
    background-color: #3d3d3d;
    border-color: #3d3d3d;
    color: lightgray;
    margin-bottom: 10px;
}


/*-------- FOOTER---------*/

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(131, 131, 131);
    background: rgb(131, 131, 131);
    background: linear-gradient(180deg, rgba(131, 131, 131, 1) 0%, rgba(59, 59, 59, 1) 70%);
    padding: 10px;
}

.footer ul {
    list-style: none;
}

.footer-info {
    text-align: center;
    font-weight: 700;
}

.footer-redes ul {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

footer .footer-redes img {
    width: 50px;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
}

.footer-link {
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    color: rgb(208, 208, 208);
}

.footer-link a {
    color: rgb(168, 164, 164);
}


/*MediaQuery*/

@media (max-width: 768px) {
    header {
        background-size: 100%;
    }
    .BANNER {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, 1fr);
    }
    .Logo {
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }
    .navbar {
        display: flex;
        justify-content: center;
    }
    /*Nosotros*/
    .main-nosotros img {
        width: 40%;
    }
    /*Contacto*/
    .contacto {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 3;
        grid-template-areas: "box-redes" "box-mapa" "box-datos";
    }
    .box-redes {
        grid-area: box-redes;
        display: flex;
        justify-content: space-around;
    }
    .box-redes img {
        position: relative;
        width: 100px;
    }
    .box-redes img:hover {
        width: 200px;
    }
    .box-mapa {
        grid-area: box-mapa;
        display: flex;
        justify-content: center;
    }
    .box-datos {
        grid-area: box-datos;
        display: flex;
        margin-top: 20px;
        text-align: center;
        justify-content: center;
    }
    .box-datos p {
        font-size: 30px;
    }
    .footer {
        display: grid;
        grid-template-columns: 100%;
    }
}

@media (max-width: 576px) {
    header {
        background-size: 100%;
    }
    .BANNER {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, 1fr);
    }
    .Logo {
        margin-top: 10px;
    }
    .footer {
        display: grid;
        grid-template-columns: 100%;
        row-gap: 15px;
    }
    .footer-redes {
        display: flex;
        justify-content: center;
        gap: 0px;
    }
}