    /*--------------------------------------- CAMBIOS GENERALES ------------------------------------------------------------------------*/
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
    }
    
    hr {
        margin: 30px 0;
    }
    
    .body__fondo {
        background-color: rgb(231, 217, 19);
        background-image: radial-gradient(circle, #fffe00, #ebdc00, #d4bb00, #bb9c02, #a17e06);
    }
    
    .container {
        min-height: calc(100vh - 100px - 300px);
    }
    /*--------------------------------------- NAVBAR ------------------------------------------------------------------------------------*/
    
    header {
        background-color: rgb(0, 0, 0);
        background-image: linear-gradient(to right bottom, #3d3d3d, #2f2f2f, #212121, #141414, #000000);
        height: flex;
        /*background-image: linear-gradient(180deg, rgba(0, 0, 0, 1) 59%, rgba(231, 217, 19, 1) 81%);*/
    }
    
    .navbar {
        width: 85%;
        margin: 0 100px;
        padding: 35px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: none;
    }
    
    .Logo {
        width: 100px;
        cursor: pointer;
        margin: 10px;
    }
    
    .navbar ul li {
        list-style: none;
        display: inline-block;
        margin: 0 20px;
        position: sticky;
    }
    
    .navbar ul li a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
    }
    
    .navbar ul li::after {
        content: '';
        height: 3px;
        width: 0;
        background: #968c00;
        position: absolute;
        left: 0;
        bottom: -10px;
        transition: 0.5s;
    }
    
    .navbar ul li:hover::after {
        width: 100%;
    }
    
    .active {
        font-weight: bolder;
        color: #960000;
        font-style: italic;
        cursor: default;
    }
    /* ---------------------------------------- INDEX ----------------------------------------------------------------------------------- */
    
    .index__fondo {
        width: 100%;
        height: 100vh;
        background-image: url(/FINAL/Imagenes/Fondo.jpg);
        background-size: cover;
        background-position: center;
    }
    
    .index__fondo::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.6);
    }
    
    .boton {
        z-index: 0;
    }
    
    .index__contenido {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        color: rgb(213, 213, 213);
    }
    
    .index__contenido h1 {
        font-size: 70px;
        margin-top: 80px;
    }
    
    .index__contenido p {
        margin: 20px auto;
        font-weight: 100;
        line-height: 30px;
    }
    
    button {
        width: 200px;
        padding: 15px 0;
        text-align: center;
        margin: 20px 10px;
        border-radius: 25px;
        font-weight: bold;
        border: 2px solid rgb(151, 153, 27);
        background: transparent;
        color: rgb(255, 153, 1);
        cursor: pointer;
        position: relative;
        overflow: hidden;
        z-index: 1;
    }
    
    button a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        z-index: 1;
        background: none;
        opacity: 100%;
    }
    
    span {
        background: rgb(168, 164, 67);
        height: 100%;
        width: 0%;
        border-radius: 25px;
        position: absolute;
        left: 0;
        bottom: 0;
        transition: 0.5s;
        z-index: -1;
        opacity: 70%;
    }
    
    button:hover span {
        width: 100%;
    }
    
    button:hover {
        border: none;
    }
    
    .TextoAbajo {
        margin-top: 200px;
        font-style: italic;
        font-family: 'Franklin Gothic Medium',
    }
    /* --------------------------------------- NOSOTROS ----------------------------------------------------------------------------------------------------- */
    /*¿Pasar a grid?*/
    
    .Titulo-Nosotros {
        text-align: center;
    }
    
    .PrimerParrafo {
        margin: 10px;
    }
    
    .PrimerParrafo img {
        margin: 20px;
        width: 600px;
        height: 350px;
    }
    
    .SegundoParrafo {
        margin: 10px;
    }
    
    .SegundoParrafo img {
        margin: 20px;
        width: 600px;
        height: 350px;
    }
    /*----------------------------------------- SERVICIOS -----------------------------------------------------------------------------------------------------*/
    
    .Servicios__Texto {
        text-align: center;
        font-size: large;
        margin: 10PX;
    }
    
    .fotoslider {
        /*  inicio galeria  */
        height: 65%;
        width: 10%;
    }
    
    .slider {
        width: 80%;
        margin: auto;
        overflow: hidden;
    }
    
    .slider ul {
        display: flex;
        padding: 0;
        width: 400%;
        animation: cambio 10s infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in;
    }
    
    .slider li {
        width: 100%;
        list-style: none;
        padding-bottom: 0%;
    }
    
    .slider img {
        width: 100%;
    }
    
    @keyframes cambio {
        /*Animacion de la galeria */
        0% {
            margin-left: 0;
        }
        20% {
            margin-left: 0;
        }
        25% {
            margin-left: -100%;
        }
        45% {
            margin-left: -100%;
        }
        50% {
            margin-left: -200%;
        }
        70% {
            margin-left: -200%;
        }
        75% {
            margin-left: -300%;
        }
        100% {
            margin-left: -300%;
        }
    }
    /*-------------------------------------------- CONTACTO ----------------------------------------------------------------------------------------------*/
    
    .contacto {
        display: grid;
        height: 100vh;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "box-redes box-redes box-redes box-redes" "box-mapa box-mapa box-datos box-datos";
    }
    
    .contacto_box_redes
    /*TOCA UBICACION LOGOS DE REDES*/
    
    {
        grid-area: box-redes;
        margin-top: 50px;
        display: flex;
        justify-content: space-around;
    }
    
    .contacto_box_redes a img
    /*TOCA IMAGENES*/
    
    {
        height: 150px;
    }
    
    .contacto_box_redes a img:hover {
        height: 200px;
    }
    
    .contacto_box_mapa
    /*TOCA MAPA*/
    
    {
        grid-area: box-mapa;
        margin: 0px 0 100px 100px;
        align-self: center;
    }
    
    .contacto_box_datos
    /*TOCA TEXTO*/
    
    {
        grid-area: box-datos;
        text-align: left;
        display: flex;
        align-self: center;
        justify-content: center;
        font-size: 50px;
    }
    
    .contacto_box_datos p {
        font-family: 'Lucida Sans Unicode';
        font-style: oblique;
    }
    
    .contacto_box_datos p img {
        height: 40px;
    }
    /* ---------------------------------------------- FAQ ----------------------------------------------------------------------------------------------- */
    
    .lista-faq ul {
        margin: 10px 20px;
        list-style: none;
    }
    
    .faq-pregunta {
        text-align: right;
    }
    
    .caja-pregunta {
        text-align: center;
    }
    
    .caja-pregunta label {
        font-style: italic;
        font-weight: bolder;
        text-transform: uppercase;
        text-decoration: underline;
    }
    
    .caja-pregunta textarea {
        margin-top: 10px;
        background: white;
        padding: 10px;
    }
    
    .caja-pregunta input {
        padding: 10px 20px;
        cursor: pointer;
        background-color: rgb(165, 165, 165);
        border-radius: 15px;
        margin-bottom: 15px;
    }
    /*tuve q usar id porque con class no me funcionó*/
    
    #pregunta {
        display: flex;
        margin-top: 10px;
        margin-left: 36%;
        width: 525px;
        height: 30px;
        font-size: large;
    }
    
    #pregunta option .negrita {
        font-weight: bold;
    }
    /*--------------------------------------------------- Footer ------------------------------------------------------------------------------------------*/
    /*Actualmente con flexbox. Cambiar a Grid*/
    
    footer {
        bottom: -10px;
        background-color: rgba(211, 211, 211, 0.824);
        width: 100%;
        justify-content: space-between;
        display: flex;
        list-style: none;
        padding: 10px;
        text-align: center;
        font-weight: bold;
    }
    
    footer .footer__redes ul {
        list-style: none;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        gap: 20px;
    }
    
    footer .footer__redes ul li a img {
        width: 40px;
        margin: 5px;
    }
    
    footer .footer__link ul {
        list-style: none;
    }
    
    footer .footer__link ul li {
        margin: 3px;
    }