$mobile: (max-width: 576px);
$tablet: (max-width: 860px);
$intermedia: (max-width: 1200px);
$imagen1: url('../Imagenes/Slider/slider1.jpg');
$imagen2: url('../Imagenes/Slider/slider2.jpg');
$imagen3: url('../Imagenes/Slider/slider3.jpg');
$imagen4: url('../Imagenes/Slider/slider4.jpg');