.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(131, 131, 131);
    background: rgb(131, 131, 131);
    background: linear-gradient(180deg, rgba(131, 131, 131, 1) 0%, rgba(59, 59, 59, 1) 70%);
    padding: 10px;
    ul {
        list-style: none;
    }
}

.footer-info {
    text-align: center;
    font-weight: 700;
}

.footer-redes {
    ul {
        display: flex;
        justify-content: space-evenly;
        gap: 20px;
    }
    img {
        width: 50px;
        border-radius: 25px;
        background-color: rgb(255, 255, 255);
    }
}

.footer-link {
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    color: rgb(208, 208, 208);
    a {
        color: rgb(168, 164, 164);
    }
}