@media ($tablet) {
    header {
        background-size: 100%;
    }
    .BANNER {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, 1fr);
    }
    .Logo {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        a {
            font-size: 80px;
            img {
                width: 100px;
            }
        }
    }
    .navbar {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    /*Nosotros*/
    .card:hover {
        width: 300px;
        height: 450px;
        position: relative;
    }
    /*Servicios*/
    .body-paralax {
        h2 {
            font-size: 45px;
        }
        p {
            font-size: 15px;
            line-height: 20px;
        }
    }
    /*Contacto*/
    .contacto {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 3;
        grid-template-areas: "box-redes" "box-mapa" "box-datos";
    }
    .box-redes {
        grid-area: box-redes;
        display: flex;
        justify-content: space-around;
        img {
            position: relative;
            width: 100px;
        }
        img:hover {
            width: 200px;
        }
    }
    .box-mapa {
        grid-area: box-mapa;
        display: flex;
        justify-content: center;
    }
    .mapa {
        width: 100%;
        margin: 10px 20px;
    }
    .box-datos {
        grid-area: box-datos;
        display: flex;
        margin-top: 20px;
        text-align: center;
        justify-content: center;
        p {
            font-size: 30px;
        }
    }
    /*Footer*/
    .footer {
        display: grid;
        grid-template-columns: 100%;
    }
}