.FAQ {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 2;
    grid-template-areas: "texto-faq" "form-faq";
    row-gap: 50px;
}

.texto-faq {
    grid-area: texto-faq;
    font-size: 20px;
    margin: 10px;
    h2 {
        margin: 5px;
        text-decoration: underline;
        font-style: italic;
    }
}

.texto-faq-der {
    text-align: left;
    padding: 10px 0;
}

.texto-faq-izq {
    text-align: right;
    padding: 10px 0;
}

.form-faq {
    grid-area: form-faq;
    display: flex;
    justify-self: center;
}

.caja-pregunta {
    display: flex;
    flex-direction: column;
    width: auto;
    select {
        width: auto;
        height: 30px;
        margin-bottom: 5px;
        font-size: 15px;
        font-weight: bolder;
    }
    input {
        width: 100px;
        height: 30px;
        align-self: center;
        border-radius: 10px;
        background-color: #3d3d3d;
        border-color: #3d3d3d;
        color: lightgray;
        margin-top: 5px;
        margin-bottom: 10px;
    }
}