.main-nosotros {
    margin: 10px;
    img {
        margin: 20px;
        width: 30%;
    }
}

.titulo-nosotros {
    text-align: center;
    margin-bottom: 10px;
    font-style: italic;
    text-decoration: underline;
}