.nosotros {
    display: flex;
    justify-content: space-around;
    margin: 0 9%;
}

.album {
    background-color: rgb(231, 217, 19);
    background-image: radial-gradient(circle, #fffe00, #ebdc00, #d4bb00, #bb9c02, #a17e06);
}

.col {
    border-radius: 5%;
    transition: 0.5s;
    z-index: 0;
    width: 30%;
    img {
        height: 220PX;
        border-radius: 5%;
    }
}

.col:hover {
    width: 35%;
    height: 300px;
    position: relative;
    z-index: 1;
}

.card {
    background-color: lightgray;
    border-radius: 5%;
    z-index: 0;
}