.body-paralax {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: arial;
    background-color: rgb(231, 217, 19);
    background-image: radial-gradient(circle, #fffe00, #ebdc00, #d4bb00, #bb9c02, #a17e06);
    h2 {
        color: rgb(255, 255, 255);
        font-size: 55px;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        position: absolute;
        top: 40%;
        opacity: 0.8;
    }
    p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        line-height: 35px;
        margin: 30px 0;
    }
    a {
        color: #fff;
        text-decoration: none;
        opacity: 0.8;
    }
}

.image1 {
    @include imagen1
}

.image2 {
    @include imagen2
}

.image3 {
    @include imagen3
}

.image4 {
    @include imagen4
}

.content {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
    background: none;
    z-index: 2;
}