.body_fondo {
    background-color: rgb(231, 217, 19);
    background-image: radial-gradient(circle, #fffe00, #ebdc00, #d4bb00, #bb9c02, #a17e06);
}

hr {
    margin: 20px 0;
    background-color: #000000;
    height: 5px;
}